// CSS
if production
    link(
        rel='stylesheet'
        href='./assets/css/main.min.css')
else
    link(
        rel='stylesheet'
        href='./assets/css/bootstrap.css')
    link(
        rel='stylesheet'
        href='./assets/css/font-awesome.css')
    link(
        rel='stylesheet'
        href='./assets/css/main.css')